Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Task:
1. Create an sqlalchemy engine using a sample from the data set
2. Write two basic update queries
3. Write two delete queries
4. Write two filter queries
5. Write two function queries

In [ ]:
# Import acreate Engine package
import sqlalchemy
sqlalchemy.__version__

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [ ]:
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import Sequence

class Adult(Base):
     __tablename__ = 'adults'
     id = Column(Integer, Sequence('adult_id_seq'), primary_key=True)
     age = Column(Integer)
     workclass = Column(String)
     fnlwgt  = Column(Integer)
     education = Column(String)
     educationnum = Column(Integer)
     maritalstatus = Column(String)
     occupation = Column(String)
     relationship       = Column(String)
     race              = Column(String)
     sex              = Column(String)
     capitalgain    = Column(Integer)
     capitalloss     = Column(Integer)
     hoursperweek  = Column(Integer)
     nativecountry   = Column(String)
     classname = Column(String)

In [ ]:
 Adult.__table__

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
# Read the data from the given URL and see the top 5 records
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

# Rename the columns as per the description.
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship' ,'race', 'sex' , 'capitalgain', 'capitalloss' , 'hoursperweek', 'nativecountry','classname' ]    
df = df.infer_objects()

df_new = pd.DataFrame(df)

In [ ]:
df_new.info()
df_new.head(5)

In [ ]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
adult = Adult( age = 50, workclass = 'Private' , fnlwgt = 83311, education ='Bachelors', educationnum = 13, maritalstatus = 'Married-civ-spouse', occupation ='Exec-managerial' , relationship = 'Husband', race = 'White', sex = 'Male', capitalgain =10000, capitalloss = 0, hoursperweek = 40, nativecountry = 'India', classname = '<=50K')
session.add(adult)

adult = Adult( age = 40, workclass = 'Self-emp-not-inc', fnlwgt = 215646, education ='Masters', educationnum = 14, maritalstatus = 'Married-civ-spouse', occupation ='Exec-managerial' , relationship = 'Husband', race = 'White', sex = 'Male', capitalgain =10000, capitalloss = 0, hoursperweek = 50, nativecountry = 'USA', classname = '<=50K')
session.add(adult)

adult = Adult( age = 0, workclass = 'Self-emp-not-inc', fnlwgt = 215646, education ='Masters', educationnum = 14, maritalstatus = 'Married-civ-spouse', occupation ='Exec-managerial' , relationship = 'Husband', race = 'White', sex = 'Male', capitalgain =10000, capitalloss = 0, hoursperweek = 60, nativecountry = 'SWEDAN', classname = '<=50K')
session.add(adult)

adult = Adult( age = 10, workclass = 'Self-emp-not-inc', fnlwgt = 215646, education ='Masters', educationnum = 14, maritalstatus = 'Married-civ-spouse', occupation ='Exec-managerial' , relationship = 'Husband', race = 'White', sex = 'Male', capitalgain =10000, capitalloss = 0, hoursperweek = 70, nativecountry = 'FRANCE', classname = '<=50K')
session.add(adult)

In [ ]:
for instance in session.query(Adult).order_by(Adult.id):
     print(instance.age, instance.workclass, instance.nativecountry, instance.education)

In [ ]:
# 2. Write two basic update queries
adult_usa = session.query(Adult).filter_by(nativecountry='USA').first() 
adult_usa.nativecountry ='India'
adult_usa.education ='PHD'

for instance in session.query(Adult).order_by(Adult.id):
    print(instance.age, instance.workclass, instance.nativecountry, instance.education)

In [ ]:
# 3. Write two delete queries
adult_delete = session.query(Adult).filter_by(nativecountry='SWEDAN').one()
session.delete(adult_delete)
session.commit()

In [ ]:
adult_delete = session.query(Adult).filter_by(hoursperweek=40).one()
session.delete(adult_delete)
session.commit()

In [ ]:
for instance in session.query(Adult).order_by(Adult.id):
    print(instance.age, instance.workclass, instance.nativecountry, instance.education)

In [ ]:
#4. Write two filter queries
adult = Adult( age = 10, workclass = 'Self-emp-not-inc', fnlwgt = 215646, education ='Masters', educationnum = 14, maritalstatus = 'Married-civ-spouse', occupation ='Exec-managerial' , relationship = 'Husband', race = 'White', sex = 'Male', capitalgain =10000, capitalloss = 0, hoursperweek = 70, nativecountry = 'FRANCE', classname = '<=50K')
session.add(adult)

for instance in session.query(Adult).filter_by(nativecountry = 'India'):
    print(instance.age, instance.workclass, instance.nativecountry, instance.education)

In [ ]:
#5.Write two function queries
from sqlalchemy import func
session.query(func.count(Adult.id)).scalar()

In [ ]:
adult = Adult( age =30, workclass = 'Self-emp-not-inc', fnlwgt = 215646, education ='Masters', educationnum = 14, maritalstatus = 'Married-civ-spouse', occupation ='Exec-managerial' , relationship = 'Husband', race = 'White', sex = 'Male', capitalgain =10000, capitalloss = 0, hoursperweek = 70, nativecountry = 'India', classname = '<=50K')
session.add(adult)
session.query(func.count(Adult.nativecountry), Adult.nativecountry).group_by(Adult.nativecountry).all()